<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "css/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | relative_url }}">
  <script type="text/javascript">
if (("gslug.org" === window.location.host) && (window.location.protocol !== 'https:')) {
        window.location = window.location.toString().replace(/^http:/, "https:");
} else if ("www.gslug.org" === window.location.host) {
        window.location = window.location.toString().replace(/^(http|https):\/\/www\./, "https://");
    }
  </script>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
